body {
  margin: 0;
}
div {
  background-color: #E4F9F5;
}
h1 {
  margin-top: 0;
}
.top-container {
  background-color: #E4F9F5;
}
.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}
.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}
.pro {
  text-decoration: underline;
  width: 100px; /* Useless as this is inline element */
}
